<h2>Sửa sách</h2>
<form [formGroup]="bookForm" (ngSubmit)="update(id)">
  <a class="btn btn-primary" routerLink="/">Trở lại</a>
  <table>
    <tr>
      <th>Tên sách</th>
      <td><input  type="text" formControlName="title"></td>
    </tr>
    <tr>
      <th>Tác giả</th>
      <td><input  type="text" formControlName="author"></td>
    </tr>
    <tr>
      <th>Mô tả</th>
      <td><textarea rows="5" cols="100" type="text" formControlName="description"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-success">Cập nhật</button></td>
    </tr>
  </table>
</form>
